<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Finden.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F7BB12B244B9C6A00E1EFAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7BB141244B9C8000E1EFAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7BB14C244B9C8100E1EFAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
